#gameContainer {
    background: rgb(250, 221, 144) none repeat scroll 0% 0%;
    position: absolute;
    width: 1250px;
    height: 1000px;
    top: 200px;
    left: 5%;
    border-radius: 15px;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
}

.game-div, .data-div, .people-div {
    width: 100%;
}

.game-div {
    width: 55%;
    height: 600px;
}

.data-div {
    width: 45%;
    height: 600px;
    padding: 0 10px;
}

.people-div {
    position: absolute;
    bottom: 0;
    height: 40%;
    display: flex;
    flex-flow: row wrap;
}

#gameTitle{
    left: 20px;
    position: absolute;
}

.game-box {
    position: absolute;
    top: 60px;
    left: 25px;
    height: 480px;
    width: 50%;
    background: black;
}

.cross-icon {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

.cross-icon-link {
    color: black
}

.data-div img {
    max-width: 370px;
    top: 60px;
    left: -10px;
    position: relative;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.description {
    display: block;
    font-size: 20px;
    top: 65px;
    left: 5px;
    text-align: left;
    position: relative;
}

.play-button {
    position: relative;
    top: 140px;
    width: 400px;
    height: 50px;
    font-size: 30px;
    border: none;
    background-color: rgba(236, 184, 54, 0.8);
    cursor: pointer;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
}

.play-button:hover {
    background-color: rgba(206, 154, 24, 0.8)
}

.comments-div, .ranking-div {
    width: 50%;
    height: 100%;
}

.comments-title, .ranking-title {
    font-size: 35px;
}

.comments-box {
    width: 80%;
    height: 85%;
    position: relative;
    left: 11%;
    background: black;
}

.ranking-div img {
    max-width: 430px;
    display: block;
    left: 15%;
    top: 60px;
    position: relative;
}