.cards-container {
    background-color: rgb(149,122,116);
    border: 1px solid black;
    border-radius: 2%;
    width: 660px;
    height: 500px;
    position: relative;
    left: 100px;
    top: 100px;
    margin: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 60px;
    padding-bottom: 80px;
}

.cards-container.little {
    height: 300px;
    padding-bottom: 0;
}

.title-wrapper {
    width: 100%;
    height: 50px;
    background-color: rgb(250,210,83);
    border-bottom: 1px solid black;
    border-radius: 10px;
    position: absolute;
}

.title {
    font-weight: lighter;
    left: 2%;
    top: 6%;
    position: absolute;
    font-size: 30px;
}

.angle-left, .angle-right {
    transform: scale(2.2);
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -ms-transform: scale(2.2);
    -o-transform: scale(2.2);
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
}

.angle-left:hover, .angle-right:hover {
    transform: scale(3.0);
    -webkit-transform: scale(3.0);
    -moz-transform: scale(3.0);
    -ms-transform: scale(3.0);
    -o-transform: scale(3.0);
}

.angle-left {
    left: 30px;
}

.angle-right {
    right: 30px;
}

.dot {
    margin-left: 7px;
    cursor: pointer;
}

.dot:not(.active) {
    color: #ddd;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: color .4s;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -ms-transition: color .4s;
    -o-transition: color .4s;
}

.dot:not(.active):hover {
    color: #000;
}

.dot-wrapper {
    width: fit-content;
    position: absolute;
    left: 47%;
    bottom: 0px;
}