.search-wrapper {
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    margin-top: 20px;
}

.search-bar-text {
    background: black;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid gray;
    border-right: none;
    width: 400px;
    height: 30px;
    color: #EEE;
    font-size: 20px;
    padding-left: 10px;
}

.search-bar-text::placeholder {
    margin-left: 10px;
    display: block;
}

.icons-wrapper{
    background: black;
    height: 30px;
    width: 82px;
    padding-top: 2px;
}

.icons-wrapper svg {
    color: white;
    margin-right: 25px;
    cursor: pointer;
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}

.filter-dropdown-wrapper {
    margin-right: 2px;
    padding-top: 4px;
    color: white;
}

.filter-dropdown-wrapper p {
   margin: 3px 0;
}

.filter-dropdown-wrapper i {
    margin: 3px 7px;
    cursor: pointer;
 }