header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* .header-container {
    position: fixed;
} */

#logo {
    max-width: 162px;
}

.logo-container {
    width: fit-content;
    padding: 10px;
}