#footerSeparatorBox {
    top:190%;
    z-index: 2;
}

#footerLinksBox {
    top: 204%;
    left: 26%;
}

#footerInfoBox {
    width: 450px;
    height: 24px;
    top: 212%;
    left: 30%;
    margin-top: 10px;
}

#footerInfo {
    color: rgb(117, 117, 117);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: lighter;
}

li {
    display: inline-block;
}

a {
    display: block;
    text-decoration: none;
}

ul li:not(:first-child) {
    padding-left:10px;
}

.footer-wrapper {
    bottom: -1250px;
    left: 30%;
    width: fit-content;
    position: absolute;
}